<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>我的消息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img src="../../static/images/logo.png" alt="layui">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item layui-this">
                <a href="/dynamic/index?firstTitle=1&secondTitle=3"><i class="iconfont icon-jiaoliu"></i>心情</a>
            </li>
            <li class="layui-nav-item">
                <a href="/dynamic/index?firstTitle=2&secondTitle=1"><i class="iconfont icon-iconmingxinganli"></i>话题</a>
            </li>
        </ul>

        <ul id="unLogin" class="layui-nav fly-nav-user">

            <!-- 未登入的状态 -->
            <li class="layui-nav-item">
                <a class="iconfont icon-touxiang layui-hide-xs" href="/customer/loginView"></a>
            </li>
            <li class="layui-nav-item">
                <a href="/customer/loginView">登入</a>
            </li>
            <li class="layui-nav-item">
                <a href="/customer/registerView">注册</a>
            </li>
        </ul>

        <!-- 登入后的状态 -->
        <ul id="inLogin" class="layui-nav fly-nav-user layui-hide">
            <li class="layui-nav-item">
                <a class="fly-nav-avatar" href="javascript:;">
                    <input id="customerId" type="hidden" value=""/>
                    <cite id="nickName" class="layui-hide-xs">贤心</cite>
                    <img id="myHead"
                         src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/customer/setView"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                    <dd><a href="/customer/messageView"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a>
                    </dd>
                    <dd><a href="/customer/home"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
                    </dd>
                    <hr style="margin: 5px 0;">
                    <dd><a href="/user/logout/" style="text-align: center;">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item">
            <a href="/customer/home">
                <i class="layui-icon">&#xe609;</i>
                我的主页
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/customer/indexView">
                <i class="layui-icon">&#xe612;</i>
                用户中心
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/customer/setView">
                <i class="layui-icon">&#xe620;</i>
                基本设置
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/customer/messageView">
                <i class="layui-icon">&#xe611;</i>
                我的消息
            </a>
        </li>
        <li class="layui-nav-item  layui-this">
            <a href="/customer/identityView">
                <i class="layui-icon">&#xe6b2;</i>
                好友验证
            </a>
        </li>
    </ul>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>


    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
            <button class="layui-btn" id="agree_all">同意所有</button>
            <button class="layui-btn layui-btn-danger" id="refuse_all">拒绝所有</button>
            <div class="identity_msg" style="margin-top: 10px;" th:if="${not #lists.isEmpty(friendIdentityArray)}">
                <!--<div class="fly-none">您暂时没有最新消息</div>-->
                <ul class="mine-msg">
                    <li data-id="123" th:each="friendIdentity:${friendIdentityArray}">
                        <input type="hidden" th:value="${friendIdentity.customerId}">
                        <blockquote class="layui-elem-quote">
                            <a href="/jump?username=Absolutely"
                               th:href="'/customer/home?customerId='+${friendIdentity.customerId}" target="_blank">
                                <cite th:text="${friendIdentity.nickName}">Absolutely</cite>
                            </a>
                            申请添加你为好友，添加好友可即时了解最近动态
                        </blockquote>
                        <p>
                            <span>2018-1-17</span>
                            <a href="javascript:;" class="layui-btn layui-btn-small agree">同意</a>
                            <a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger">拒绝</a>
                        </p>
                    </li>
                    <!--<li data-id="123">
                        <blockquote class="layui-elem-quote">
                            <a href="/jump?username=Absolutely" target="_blank"><cite>Absolutely</cite></a>
                            申请添加你为好友，添加好友可即时了解最近动态
                        </blockquote>
                        <p>
                            <span>2018-1-17</span>
                            <a href="javascript:;" class="layui-btn layui-btn-small layui-btn">同意</a>
                            <a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger">拒绝</a>
                        </p>
                    </li>-->
                </ul>
            </div>
            <div class="identity_msg" style="margin-top: 10px;" th:if="${#lists.isEmpty(friendIdentityArray)}">
                <div class="fly-none">您暂时没有收到好友申请</div>
            </div>

        </div>
    </div>

</div>


<div class="fly-footer">
    <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/"
                                                                                target="_blank">layui.com 出品</a></p>
    <p>
        <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
        <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
        <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
    </p>
</div>
<script src="../../static/jquery/jquery-3.2.1.js"></script>
<script src="../../static/layui/layui.js"></script>
<script>
    layui.cache.page = 'user';
    layui.cache.user = {
        username: '游客'
        , uid: -1
        , avatar: '../../static/images/avatar/00.jpg'
        , experience: 83
        , sex: '男'
    };
    layui.config({
        version: "3.0.0"
        , base: '../../static/mods/'
    }).extend({
        fly: 'index'
    }).use('fly', function () {

        var fly = layui.fly;

        $(document).ready(function () {
            var $unLogin = $("#unLogin");
            var $inLogin = $("#inLogin");
            $.ajax({
                url: '/customer/information',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    if (data.id != null && data.id != '') {
                        //说明用户已经登录，改为登录状态
                        $inLogin.removeClass("layui-hide");
                        $unLogin.addClass("layui-hide");
                        $("#nickName").text(data.nickName);
                        $("#myHead").attr("src", data.headPicture);
                        $("#customerId").val(data.id);
                    }
                },
                error: function () {

                }
            });
        });

        var $identityMsg = $('.identity_msg');

        var delEnd = function (clear) {
            if (clear || $identityMsg.find('.mine-msg li').length === 0) {
                $identityMsg.html('<div class="fly-none">您暂时没有最新好友申请</div>');
            }
        };

        //拒绝
        $identityMsg.on('click', '.mine-msg li .layui-btn-danger', function () {
            var othis = $(this).parents('li'), id = othis.children("[type=hidden]").val();
            console.log(id);
            $.ajax({
                url: '/customer/friendRefuse',
                type: 'get',
                data: {
                    friendId: id
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code === '0') {
                        layer.msg('您已成功拒绝该申请', {icon: 6});
                        othis.remove();
                        delEnd();
                    }
                },
                error: function () {

                }
            });
        });

        //拒绝全部
        $('#refuse_all').on('click', function () {
            var othis = $(this);
            layer.confirm('确定拒绝所有吗？', function (index) {
                $.ajax({
                    url: '/customer/friendRefuseAll',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        if (data.code === '0') {
                            layer.msg('您已成功拒绝所有申请', {icon: 6});
                            layer.close(index);
                            $(".mine-msg").children().remove();
                            delEnd(true);
                        }
                    },
                    error: function () {

                    }
                });
            });
        });

        //同意
        $identityMsg.on('click', '.mine-msg li .agree', function () {
            var othis = $(this).parents('li'), id = othis.children("[type=hidden]").val();
            $.ajax({
                url: '/customer/friendAgree',
                type: 'get',
                data: {
                    friendId: id
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code === '0') {
                        layer.msg('添加好友成功', {icon: 6});
                        othis.remove();
                        delEnd();
                    }
                },
                error: function () {

                }
            });
        });

        //同意全部
        $('#agree_all').on('click', function () {
            var othis = $(this);
            layer.confirm('确定同意所有吗？', function (index) {
                $.ajax({
                    url: '/customer/friendAgreeAll',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        if (data.code === '0') {
                            layer.msg('您已成功添加所有好友', {icon: 6});
                            layer.close(index);
                            $(".mine-msg").children().remove();
                            delEnd(true);
                        }
                    },
                    error: function () {

                    }
                });
            });
        });


    });

</script>

</body>
</html>