<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img src="../../static/images/logo.png" alt="layui">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item layui-this">
                <a href="/dynamic/index?firstTitle=1&secondTitle=3"><i class="iconfont icon-jiaoliu"></i>心情</a>
            </li>
            <li class="layui-nav-item">
                <a href="/dynamic/index?firstTitle=2&secondTitle=1"><i class="iconfont icon-iconmingxinganli"></i>话题</a>
            </li>
        </ul>

        <ul id="unLogin" class="layui-nav fly-nav-user">

            <!-- 未登入的状态 -->
            <li class="layui-nav-item">
                <a class="iconfont icon-touxiang layui-hide-xs" href="/customer/loginView"></a>
            </li>
            <li class="layui-nav-item">
                <a href="/customer/loginView">登入</a>
            </li>
            <li class="layui-nav-item">
                <a href="/customer/registerView">注册</a>
            </li>
        </ul>

        <!-- 登入后的状态 -->
        <ul id="inLogin" class="layui-nav fly-nav-user layui-hide">
            <li class="layui-nav-item">
                <a class="fly-nav-avatar" href="javascript:;">
                    <input id="customerId" type="hidden" value=""/>
                    <cite id="nickName" class="layui-hide-xs">贤心</cite>
                    <img id="myHead"
                         src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/customer/setView"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                    <dd><a href="/customer/messageView"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a>
                    </dd>
                    <dd><a href="/customer/home"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
                    </dd>
                    <hr style="margin: 5px 0;">
                    <dd><a href="/user/logout/" style="text-align: center;">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item">
            <a href="/customer/home">
                <i class="layui-icon">&#xe609;</i>
                我的主页
            </a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href="/customer/indexView">
                <i class="layui-icon">&#xe612;</i>
                用户中心
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/customer/setView">
                <i class="layui-icon">&#xe620;</i>
                基本设置
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/customer/messageView">
                <i class="layui-icon">&#xe611;</i>
                我的消息
            </a>
        </li>
    </ul>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>


    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li data-type="mine-jie" lay-id="index" class="layui-this">我的动态（<span th:text="${customerIndex.myDynamicCount}">89</span>）</li>
                <li data-type="collection" data-url="/collection/find/" lay-id="collection">我的收藏（<span>16</span>）</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <ul class="mine-view jie-row" id="myDynamicList">
                        <li>
                            <a class="jie-title" href="../jie/detail.html" target="_blank">基于 layui 的极简社区页面模版</a>
                            <i>2017/3/14 上午8:30:00</i>
                            <a class="mine-edit" href="/jie/edit/8116">编辑</a>
                            <em>661阅/10答</em>
                        </li>
                        <li>
                            <a class="jie-title" href="../jie/detail.html" target="_blank">基于 layui 的极简社区页面模版</a>
                            <i>2017/3/14 上午8:30:00</i>
                            <a class="mine-edit" href="/jie/edit/8116">编辑</a>
                            <em>661阅/10答</em>
                        </li>
                        <li>
                            <a class="jie-title" href="../jie/detail.html" target="_blank">基于 layui 的极简社区页面模版</a>
                            <i>2017/3/14 上午8:30:00</i>
                            <!-- <a class="mine-edit" href="/jie/edit/8116">编辑</a>-->

                            <em>
                                <ul>
                                    <i class="iconfont" title="人气">&#xe60b;</i>100
                                    <i class="iconfont icon-pinglun1" title="评论"></i> 66
                                </ul>
                            </em>
                        </li>
                    </ul>
                    <script id="dynamic-template" type="text/x-handlebars-template">
                        {{#each this}}
                        <li>
                            <h2>
                                <a class="layui-badge">{{secondTitleLabel}}</a>
                                <a class="jie-title" href="/dynamic/detailView?dynamicId={{dynamicId}}" target="_blank">{{title}}</a>
                            </h2>
                            <i>{{createDate}}</i>
                            <em>
                                <ul>
                                    <i class="iconfont" title="人气">&#xe60b;</i>{{popularity}}
                                    <i class="iconfont icon-pinglun1" title="评论"></i> {{commentsNumber}}
                                </ul>
                            </em>
                        </li>
                        {{/each}}
                    </script>
                    <div style="text-align: center">
                        <div id="dynamicPage"></div>
                    </div>
                </div>


                <div class="layui-tab-item">
                    <ul class="mine-view jie-row">
                        <li>
                            <a class="jie-title" href="../jie/detail.html" target="_blank">基于 layui 的极简社区页面模版</a>
                            <i>收藏于23小时前</i></li>
                    </ul>
                    <div style="text-align: center">
                        <div id="collectionPage"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fly-footer">
    <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/"
                                                                                target="_blank">layui.com 出品</a></p>
    <p>
        <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
        <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
        <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
    </p>
</div>
<script src="../../static/jquery/jquery-3.2.1.js"></script>
<script src="../../static/handlebars/handlebars-1.0.0.beta.6.js"></script>
<script src="../../static/layui/layui.js"></script>
<script th:inline="javascript">
    layui.cache.page = 'user';
    layui.cache.user = {
        username: '游客'
        , uid: -1
        , avatar: '../../static/images/avatar/00.jpg'
        , experience: 83
        , sex: '男'
    };
    layui.config({
        version: "3.0.0"
        , base: '../../static/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');

    $(document).ready(function () {
        var $unLogin = $("#unLogin");
        var $inLogin = $("#inLogin");
        $.ajax({
            url: '/customer/information',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if (data.id != null && data.id != '') {
                    //说明用户已经登录，改为登录状态
                    $inLogin.removeClass("layui-hide");
                    $unLogin.addClass("layui-hide");
                    $("#nickName").text(data.nickName);
                    $("#myHead").attr("src", data.headPicture);
                    $("#customerId").val(data.id);
                }
            },
            error: function () {

            }
        });
    });

    var customerIndex = [[${customerIndex}]];
    var dynamicCount=customerIndex.myDynamicCount;
    var myCollectionCount=customerIndex.myCollectionCount;

    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage;
        //我的动态
        laypage.render({
            elem: 'dynamicPage'
            , count: dynamicCount
            , layout: ['prev', 'page', 'next', 'limit']
            , limits: [10, 20, 50, 100]
            , jump: function (obj) {
                //count 数据总数
                //limit 每页显示的条数
                //当前页位置
                /*                console.log("数据总数:" + obj.count);
                 console.log("每页显示:" + obj.limit);
                 console.log("当前页位置:" + obj.curr);*/
                console.log("我的动态");
                //调用ajax查询数据
                var request = {
                 limit: obj.limit,
                 curr: obj.curr
                 };
                 $.ajax({
                 url: '/dynamic/myDynamic',
                 type: 'post',
                 data: request,
                 dataType: 'json',
                 success: function (data) {
                 console.log(data);
                 var dataList = data.data;
                 if (dataList.length != 0) {
                 //注册一个Handlebars模版，通过id找到某一个模版，获取模版的html框架
                 var myTemplate = Handlebars.compile($("#dynamic-template").html());

                 //将json对象用刚刚注册的Handlebars模版封装，得到最终的html，插入到基础table中。
                 $('#myDynamicList').html(myTemplate(dataList));
                 }
                 },
                 error: function () {

                 }
                 });
            }
        });
        //我的收藏
        laypage.render({
            elem: 'collectionPage'
            , count: myCollectionCount
            , layout: ['prev', 'page', 'next', 'limit']
            , limits: [10, 20, 50, 100]
            , jump: function (obj) {
                //count 数据总数
                //limit 每页显示的条数
                //当前页位置
                /*                console.log("数据总数:" + obj.count);
                 console.log("每页显示:" + obj.limit);
                 console.log("当前页位置:" + obj.curr);*/
                console.log("我的收藏");

            }
        });
    });
</script>

</body>
</html>