<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>分页测试</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/global.css">
</head>
<body>

<div class="layui-carousel" id="test1">
    <div carousel-item>
        <img src="../static/images/avatar/00.jpg">
        <img src="../static/images/avatar/10.jpg">
        <img src="../static/images/avatar/2.jpg">
        <img src="../static/images/avatar/3.jpg">
        <img src="../static/images/avatar/4.jpg">
    </div>
</div>


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>显示完整功能</legend>
</fieldset>
<div id="demo7"></div>

<script src="../static/jquery/jquery-3.2.1.js"></script>
<script src="../static/layui/layui.js"></script>
<script>
    layui.use(['laypage', 'layer', 'carousel'], function () {
        var laypage = layui.laypage;
        //完整功能
        laypage.render({
            elem: 'demo7'
            , count: 100
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
            , limits: [10, 20, 50, 100]
            , jump: function (obj) {
                //count 数据总数
                //limit 每页显示的条数
                //当前页位置
                console.log("数据总数:" + obj.count);
                console.log("每页显示:" + obj.limit);
                console.log("当前页位置:" + obj.curr);
            }
        });

        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '20%' //设置容器宽度
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</body>
</html>