<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <title>Title</title>
</head>
<body>
<div th:if="${not #lists.isEmpty(list)}">
    <div>
        <ul>
            <li th:each="person:${list}">
                <span th:text="${person.name}"></span>
                <span th:text="${person.sex}"></span>
            </li>
        </ul>
    </div>
</div>
<p>建议尺寸168*168，支持jpg、png、gif，最大不能超过500KB</p>
<button type="button" class="layui-btn upload-img" id="test1">
    <i class="layui-icon">&#xe67c;</i>上传头像
</button>
<img id="myHead" src="image/show">
<span class="loading"></span>
</div>
<script src="../static/jquery/jquery-3.2.1.js"></script>
<script src="../static/layui/layui.js"></script>
<script>
    layui.use('upload', function () {
        layui.use('upload', function () {
            var upload = layui.upload;
            var $myHead = $("#myHead");
            //执行实例
            var uploadInst = upload.render({
                elem: '#test1' //绑定元素
                , url: '/test/upload' //上传接口
                , done: function (res) {
                    //上传完毕回调
                    var value = res.url;
                    $myHead.attr("src", value);
                    console.log(value);
                }
                , error: function () {
                    //请求异常回调
                }
            });
        });
    });
</script>
</body>
</html>