<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.test.repo.DynamicMapper">
    <resultMap id="BaseResultMap" type="com.mybatis.test.model.Dynamic">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="customer_id" property="customerId" jdbcType="VARCHAR"/>
        <result column="first_title" property="firstTitle" jdbcType="VARCHAR"/>
        <result column="second_title" property="secondTitle" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="popularity" property="popularity" jdbcType="INTEGER"/>
        <result column="praise" property="praise" jdbcType="INTEGER"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
        <result column="comments_number" property="commentsNumber" javaType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        customer_id,
        first_title,
        second_title,
        title,
        content,
        image,
        popularity,
        praise,
        remarks,
        create_by,
        create_date,
        update_by,
        update_date,
        del_flag,
        comments_number
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from dynamic
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.mybatis.test.model.Dynamic">
    insert into dynamic (
        id,
        customer_id,
        first_title,
        second_title,
        title,
        content,
        image,
        popularity,
        praise,
        remarks,
        create_by,
        create_date,
        update_by,
        update_date,
        del_flag,
        comments_number
        )values (
        #{id,jdbcType=VARCHAR},
        #{customerId,jdbcType=VARCHAR},
        #{firstTitle,jdbcType=VARCHAR},
        #{secondTitle,jdbcType=VARCHAR},
        #{title,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR},
        #{image,jdbcType=VARCHAR},
        #{popularity,jdbcType=INTEGER},
        #{praise,jdbcType=INTEGER},
        #{remarks,jdbcType=VARCHAR},
        #{createBy,jdbcType=VARCHAR},
        #{createDate,jdbcType=TIMESTAMP},
        #{updateBy,jdbcType=VARCHAR},
        #{updateDate,jdbcType=TIMESTAMP},
        #{delFlag,jdbcType=VARCHAR},
        #{commentsNumber,jdbcType=INTEGER})
    </insert>

    <update id="update" parameterType="com.mybatis.test.model.Dynamic">
        update dynamic
        <set>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=VARCHAR},
            </if>
            <if test="firstTitle != null">
                first_title = #{firstTitle,jdbcType=VARCHAR},
            </if>
            <if test="secondTitle != null">
                second_title = #{secondTitle,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test="popularity != null">
                popularity = #{popularity,jdbcType=INTEGER},
            </if>
            <if test="praise != null">
                praise = #{praise,jdbcType=INTEGER},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="commentsNumber !=null">
                comments_number = #{commentsNumber,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from dynamic
        where id IN
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByLogic" parameterType="java.lang.String">
        UPDATE dynamic SET
        del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@YES.getValue()},
        update_date = current_timestamp()
        WHERE id IN
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="getCountByAppointCategory" resultType="int">
        SELECT count(*)
        FROM dynamic a
        WHERE a.first_title = #{firstTitle}
        AND a.second_title = #{secondTitle}
        AND a.del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@NO.getValue()}
    </select>

    <select id="findPage" resultType="com.mybatis.test.domain.DynamicIntroduction">
        SELECT
        a.customer_id AS customerId,
        b.head_picture AS headPicture,
        b.nick_name AS nickName,
        a.id AS dynamicId,
        a.title AS title,
        a.create_date AS createDate,
        a.praise AS praise,
        a.comments_number AS commentsNumber
        FROM dynamic a
        INNER JOIN customer b on a.customer_id = b.id
        WHERE a.first_title = #{firstTitle}
        AND a.second_title = #{secondTitle}
        AND a.del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@NO.getValue()}
        AND b.del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@NO.getValue()}
    </select>

    <select id="findDynamicByCustomer" resultType="com.mybatis.test.domain.MyDynamic">
        SELECT
        a.first_title AS firstTitle,
        a.second_title AS secondTitle,
        a.id AS dynamicId,
        a.title AS title,
        a.create_date AS createDate,
        a.popularity AS popularity,
        a.comments_number as commentsNumber
        FROM  dynamic a
        WHERE a.customer_id=#{customerId}
        AND a.del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@NO.getValue()}
    </select>

    <select id="getCountByCustomerId" resultType="int">
        SELECT count(1)
        FROM dynamic a
        WHERE a.customer_id = #{customerId}
        AND a.del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@NO.getValue()}
    </select>

    <select id="getLatestDynamicByCount" resultType="com.mybatis.test.domain.LatestDynamic">
        SELECT
        a.id AS dynamicId,
        a.first_title AS firstTitle,
        a.second_title AS secondTitle,
        a.title AS title,
        a.create_date AS createDate,
        a.popularity AS popularity,
        a.comments_number AS commentsNumber
        FROM dynamic a
        WHERE a.customer_id = #{customerId}
        AND a.del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@NO.getValue()}
        limit #{count}
    </select>
    
    <select id="findFriendPage" resultType="com.mybatis.test.domain.DynamicIntroduction">
        SELECT
        a.customer_id AS customerId,
        b.head_picture AS headPicture,
        b.nick_name AS nickName,
        a.id AS dynamicId,
        a.title AS title,
        a.create_date AS createDate,
        a.praise AS praise,
        a.comments_number AS commentsNumber
        FROM dynamic a
        INNER JOIN customer b on a.customer_id = b.id
        INNER JOIN my_friend m ON b.id = m.friend_customer_id
        WHERE a.first_title = ${@com.mybatis.test.common.enumeration.DynamicTypeEnum@DYNAMIC_MOOD.getValue()}
        AND m.customer_id = #{customerId}
        AND a.del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@NO.getValue()}
        AND b.del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@NO.getValue()}
    </select>

    <select id="findNearbyPage" resultType="com.mybatis.test.domain.DynamicIntroduction">
        SELECT
        a.customer_id AS customerId,
        b.head_picture AS headPicture,
        b.nick_name AS nickName,
        a.id AS dynamicId,
        a.title AS title,
        a.create_date AS createDate,
        a.praise AS praise,
        a.comments_number AS commentsNumber
        FROM dynamic a
        INNER JOIN customer b on a.customer_id = b.id
        INNER JOIN
            (SELECT a.friend_customer_id
            FROM my_friend a
            INNER JOIN my_friend b ON a.customer_id = b.friend_customer_id
            WHERE b.customer_id = #{customerId}
            ) c on b.id = c.friend_customer_id
        WHERE a.first_title = ${@com.mybatis.test.common.enumeration.DynamicTypeEnum@DYNAMIC_MOOD.getValue()}
        AND a.second_title IN(
        ${@com.mybatis.test.common.enumeration.DynamicMoodEnum@NEARBY.getType()},${@com.mybatis.test.common.enumeration.DynamicMoodEnum@SCHOOL.getType()}
        )
        AND a.del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@NO.getValue()}
        AND b.del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@NO.getValue()}
    </select>

    <select id="findSchoolPage" resultType="com.mybatis.test.domain.DynamicIntroduction">
        SELECT
        a.customer_id AS customerId,
        b.head_picture AS headPicture,
        b.nick_name AS nickName,
        a.id AS dynamicId,
        a.title AS title,
        a.create_date AS createDate,
        a.praise AS praise,
        a.comments_number AS commentsNumber
        FROM dynamic a
        INNER JOIN customer b on a.customer_id = b.id
        WHERE a.first_title = ${@com.mybatis.test.common.enumeration.DynamicTypeEnum@DYNAMIC_MOOD.getValue()}
        AND a.second_title = ${@com.mybatis.test.common.enumeration.DynamicMoodEnum@SCHOOL.getType()}
        AND a.del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@NO.getValue()}
        AND b.del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@NO.getValue()}
    </select>
</mapper>