<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.test.repo.MyAlbumMapper">
    <resultMap id="BaseResultMap" type="com.mybatis.test.model.MyAlbum">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="customer_id" property="customerId" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        customer_id,
        title,
        content,
        image_url,
        remarks,
        create_by,
        create_date,
        update_by,
        update_date,
        del_flag
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from my_album
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.mybatis.test.model.MyAlbum">
    insert into my_album (
        id,
        customer_id,
        title,
        content,
        image_url,
        remarks,
        create_by,
        create_date,
        update_by,
        update_date,
        del_flag
        )values (
        #{id,jdbcType=VARCHAR},
        #{customerId,jdbcType=VARCHAR},
        #{title,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR},
        #{imageUrl,jdbcType=VARCHAR},
        #{remarks,jdbcType=VARCHAR},
        #{createBy,jdbcType=VARCHAR},
        #{createDate,jdbcType=TIMESTAMP},
        #{updateBy,jdbcType=VARCHAR},
        #{updateDate,jdbcType=TIMESTAMP},
        #{delFlag,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.mybatis.test.model.MyAlbum">
        update my_album
        <set>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null">
                image_url = #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from my_album
        where id IN
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByLogic" parameterType="java.lang.String">
        UPDATE my_album SET
        del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@YES.getValue()},
        update_date = current_timestamp()
        WHERE id IN
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="getListByCustomer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM my_album a
        WHERE a.customer_id = #{customerId}
        AND a.del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@NO.getValue()}
        ORDER BY create_date DESC
    </select>
</mapper>