<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.test.repo.MyFriendMapper">
    <resultMap id="BaseResultMap" type="com.mybatis.test.model.MyFriend">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="customer_id" property="customerId" jdbcType="VARCHAR"/>
        <result column="friend_customer_id" property="friendCustomerId" jdbcType="VARCHAR"/>
        <result column="familiarity" property="familiarity" jdbcType="INTEGER"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        customer_id,
        friend_customer_id,
        familiarity, remarks,
        create_by,
        create_date,
        update_by,
        update_date,
        del_flag
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from my_friend
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.mybatis.test.model.MyFriend">
    insert into my_friend (
        id,
        customer_id,
        friend_customer_id,
        familiarity,
        remarks,
        create_by,
        create_date,
        update_by,
        update_date,
        del_flag
        )values (
        #{id,jdbcType=VARCHAR},
        #{customerId,jdbcType=VARCHAR},
        #{friendCustomerId,jdbcType=VARCHAR},
        #{familiarity,jdbcType=INTEGER},
        #{remarks,jdbcType=VARCHAR},
        #{createBy,jdbcType=VARCHAR},
        #{createDate,jdbcType=TIMESTAMP},
        #{updateBy,jdbcType=VARCHAR},
        #{updateDate,jdbcType=TIMESTAMP},
        #{delFlag,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.mybatis.test.model.MyFriend">
        update my_friend
        <set>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=VARCHAR},
            </if>
            <if test="friendCustomerId != null">
                friend_customer_id = #{friendCustomerId,jdbcType=VARCHAR},
            </if>
            <if test="familiarity != null">
                familiarity = #{familiarity,jdbcType=INTEGER},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from my_friend
        where id IN
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByLogic" parameterType="java.lang.String">
        UPDATE my_friend SET
        del_flag = ${@com.mybatis.test.common.enumeration.DelFlagEnum@YES.getValue()},
        update_date = current_timestamp()
        WHERE id IN
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="getMyFriendByFriendId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM my_friend
        WHERE
        customer_id = #{customerId}
        AND
        friend_customer_id = #{friendCustomerId}
    </select>

    <select id="findFamiliarityFriend" resultType="com.mybatis.test.domain.MyFamiliarityFriendInfo">
        SELECT
        b.id AS customerId,
        b.head_picture AS headPicture,
        b.nick_name AS nickName,
        a.familiarity AS familiarity
        FROM my_friend a
        INNER JOIN customer b ON a.friend_customer_id = b.id
        WHERE a.customer_id = #{customerId}
        ORDER BY familiarity DESC
        limit #{count}
    </select>

    <update id="addFamiliarity">
        UPDATE my_friend
        SET familiarity = familiarity + #{increment}
        WHERE customer_id = #{customerId}
        AND friend_customer_id = #{friendCustomerId}
    </update>
</mapper>